{{#block "header"}}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/css/styles.css">
        <script src="jquery-3.4.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://developers.google.com/speed/libraries/devguide#jquery"></script>
        <script src="/js/styles.js"></script>
        <title>Wildlife Tracker</title>
    </head>
    <body>
{{/block}}

<nav class="navbar navbar-expand-lg wildlife-nav">
    <a class="navbar-brand" href="/">
        <div class="app-logo">
            <p class="title">Wildlife Tracker</p>
        </div>
    </a>        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/sightings">View Sightings</a>
            <a class="nav-item nav-link" href="/sightings/new">New Sighting</a>
        </div>
    </div>
</nav>

<p class="watermark">What we do<br> Saving the World's wildlife<br>Our Why. <br>For Future Generations!</p>


<!-- begin inner template-->
<div class="container d-flex justify-content-center template-content">
    <div class="row">
        <div class="col align-self-center">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>
</div>
<!-- end inner template-->

{{#block "footer"}}
    </body>
    </html>
{{/block}}